/* basic body styling */
body{
    margin: 10;
    color: aquamarine;
    background-color: black;
}
::selection{  /* when you select text make the selection aquamaring */
    color: black;
    background-color: aquamarine;
}
::-moz-selection{
    color: black;
    background-color: aquamarine;
}

/* Preserve whitespace and wrap lines */
#output {
    white-space: pre-wrap; 
    overflow: hidden; 
}

/* position aread for text */
textarea{
    left: -1000px;
    position: absolute;
}

/* Input container flex to align terminal interface with the 
prompt symbol and input field */
.terminal-input-container {
    display: flex;
    align-items: center;
}

/* Prompt stays 5px to right */
.prompt-symbol {
    margin-right: 5px;
}

/* style the input field to be invisible and the text to 
be aquamarine */
.terminal-input {
    border: none;
    outline: none;
    background-color: black;
    color: aquamarine;
    font-family: monospace;
}

.input-line {
    color: b;
}

.error-message{
    color: crimson;
}

/* Styling to underlined certain lines of text */
.underlined-text u {
    text-decoration: underline; 
}

.art {
    font-family: monospace;
    white-space: pre;
    margin-top: 0cm;
    left: 5px;
    animation: shimmer 5s infinite; /* Adjust animation duration */
}

@keyframes shimmer {
    0% {
        opacity: 0.3; 
    }
    50% {
        opacity: 1; 
    }
    100% {
        opacity: 0.3; 
    }
}